.gallery {
    width: 98vw;
}

 .gallery-section {
    padding: 10px 35px;
     display: grid;
    grid-template-columns: repeat(4, 0.4fr);
    gap: 10px;
   
} 

.btn-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px 65px;
width: 800px;
}

.btn-section .input-search {
    border-radius: 15px;
    width: 240px;
}


@media screen and (max-width: 1300px) {
    .gallery-section {
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
    }
}