.gallery {
    width: 95%;
}

 .gallery-section {
    padding: 1em 0.3em;
    margin: 1em 2.2em;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
} 

.btn-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 2em 5em;
    width: 800px;
}

.btn-section .input-search {
    border-radius: 15px;
    width: 240px;
}


@media screen and (max-width: 750px) {
    .btn-section {
        display: flex;
        flex-direction: column;
        width: 120%;
    }

    .btn-section .input-search {
        width: 240px;
        height: 30px;
    }
}